<template>
    <div class="protected">
        <b-form-input type="text" placeholder="name" v-model="name"></b-form-input>
        <div style="    display: flex;
    justify-content: flex-end;margin-top: 10px;">
            <b-button variant="primary" @click="createTask">Save</b-button>

        </div>
    </div>
</template>

<script>
    export default {
        name: "addTask",
        data() {
            return {
                name: ''

            }
        },
      methods:{
          createTask(){
              this.$emit('createTask',this.name);
          }
      }
    }
</script>
