<template>
    <div>
        <div class="header">
            <h2 class="logo">LOGO HERE</h2>
        </div>

        <div class="login">
            <el-card>
                <h2>Login</h2>
                <el-form
                        class="login-form"
                        :model="model"
                        ref="form"
                >
                    <el-form-item prop="username">
                        <el-input v-model="model.username" placeholder="Username" prefix-icon="fas fa-user"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input
                                v-model="model.password"
                                placeholder="Password"
                                type="password"
                                prefix-icon="fas fa-lock"
                        ></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button
                                class="login-button"
                                type="primary"
                                @click="signin">Login
                        </el-button>
                    </el-form-item>
                    <a class="forgot-password" href="https://oxfordinformatics.com/">Forgot password ?</a>
                </el-form>
            </el-card>
        </div>
    </div>


    <!--<el-card style="width:30%;">-->
    <!--    <el-row style="width: 50%;">-->
    <!--        <el-form>-->
    <!--            <el-form-item label="Username" prop="username">-->
    <!--                <el-input v-model="ruleForm.username"></el-input>-->
    <!--            </el-form-item>-->

    <!--            <el-form-item label="Password" prop="password">-->
    <!--                <el-input v-model="ruleForm.password"></el-input>-->
    <!--            </el-form-item>-->

    <!--            <el-button type="primary" @click="signin">Save</el-button>-->

    <!--        </el-form>-->
    <!--    </el-row>-->
    <!--</el-card>-->
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "Login",
        data() {
            return {
                model: {
                    username: '',
                    password: '',
                    roles:[1]
                }
            }
        },
        methods: {

            ...mapActions('auth', [
                'signinModule'
            ]),

            signin() {
                console.log('salom')
                this.signinModule(this.model);
                // ApiService.login(this.model).then(res=>{
                //     console.log(res)
                // })
                // return this.axios.post('http://localhost:9000/api/auth/signin',this.model).then(res=>{
                //     console.log(res)
                // });
            }
        }
    }
</script>

<style scoped>
    .login {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-button {
        width: 100%;
        margin-top: 40px;
    }

    .login-form {
        width: 290px;
    }

    .forgot-password {
        margin-top: 10px;
    }
</style>
<style>
    .el-input--prefix .el-input__inner {
        padding-left: 10px !important;
    }
    .el-button--primary {
        background: #007c89;
        border-color: #007c89;
    }

    .el-button--primary:hover, .el-button--primary.active, .el-button--primary:focus {
        background: #009cad;
        border-color: #009cad;
    }

    .login .el-input__inner:hover {
        border-color: #007c89;
    }

    .login .el-input__prefix {
        background: #eeedea;
        left: 0;
        height: calc(100% - 2px);
        left: 1px;
        top: 1px;
        border-radius: 3px;
    }

    .login .el-input__prefix .el-input__icon {
        width: 30px;
    }

    /*.login .el-input input {*/
    /*    padding-left: 35px;*/
    /*}*/

    .login .el-card {
        padding-top: 0;
        padding-bottom: 30px;
    }

    h2 {
        font-family: "Open Sans";
        letter-spacing: 1px;
        font-family: Roboto, sans-serif;
        padding-bottom: 20px;
    }

    a {
        color: #007c89;
        text-decoration: none;
    }

    a:hover, a:active, a:focus {
        color: #009cad;
    }

    .login .el-card {
        width: 340px;
        display: flex;
        justify-content: center;
    }

</style>
