<template>
    <el-menu
            style="display: flex;justify-content: flex-end"
            :default-active="activeIndex2"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#026aa7"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item  style="text-align: center" index="3"><router-link to="/task">TASK</router-link></el-menu-item>
        <el-menu-item  style="text-align: center" index="4" @click="logout">Logout</el-menu-item>
    </el-menu>
</template>

<script>
    export default {
        name: "NavBar",
        data(){
            return {
                activeIndex: '1',
                activeIndex2: '1',
            }
        },
        methods:{

            logout(){

                localStorage.removeItem('token')
                this.$router.push('/')
            },

            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
        }
    }
</script>

<style scoped>

</style>
