<template>
    <div class="protected">
        <div>
            <h2 style="margin: 20px">Tasks</h2>
        </div>
        <div style="display: flex;justify-content: end;margin-bottom: 10px;margin-left: 10px;;">
            <b-button variant="primary" @click="createOpenModalTask">+add Task</b-button>

        </div>
        <div v-if="active">

            <b-modal v-model="active" hide-footer>
                <add-task @createTask="createTask">
                </add-task>
            </b-modal>
        </div>
        <div class="row">
            <div class="col-3" style="margin-bottom: 10px" v-for="(parent,parentIndex) in this.parent" :key="parent.id">
                <b-card
                        :header="parent.name"
                        header-tag="header">
                    <ul class="todo-list" style="list-style: none" v-for="(child,childIndex) in parent.subTaskDtos"
                        :key="child.id">
                        <li>
                            <input
                                    v-if="child.edit"
                                    v-model="child.name"
                                    :ref="child.childIndex"
                                    @blur="child.edit = false; $emit('update')"
                                    @keyup.enter="child.edit=false; editTodoSubTask(child,parentIndex,childIndex,parent.id)"
                                    v-focus
                            >

                            <div class="text item" style=" display: flex;
                            justify-content: end;" v-else>
                                <span @click="child.edit = true;">{{child.name}}</span>
                            </div>

                        </li>
                    </ul>
                    <div style="display: flex;justify-content: flex-end">
                        <b-button variant="primary" @click="addSubTask(parent.parentId,parentIndex)">+Add</b-button>
                    </div>
                </b-card>
            </div>

        </div>


    </div>
</template>
<script>
    import ApiService from "../service/api.service";
    import AddTask from "./addTask";

    export default {
        name: "Task",
        components: {AddTask},
        data() {
            return {
                active: false,
                editOrSave: false,
                todoObj: {
                    parent: [{name: 'Bozorga borish12312312312', edit: false,}],
                    todos: [
                        {id: 1, title: 'one value', edit: false},
                        {id: 2, title: 'one value', edit: false},
                        {id: 3, title: 'otro titulo', edit: false}
                    ]
                },
                editedTodo: null,
                message: 'Hello Vue.js!',
                parent: [],


            }
        },
        created() {
            this.getAllTasks();
        },
        methods: {

            getAllTasks() {
                ApiService.getTasks().then(result => {
                    this.parent = result.data;
                })
            },

            createTask($event) {

                let tempObject = {}
                tempObject.name = $event;
                ApiService.createTask(tempObject).then(result => {
                    if (result) {
                        this.active = false
                        this.getAllTasks()
                    }
                })


            },
            createOpenModalTask() {
                this.active = true;
            },



            editTodoSubTask: function (subTask, parentIndex, childIndex, parentId) {
                if (!this.editOrSave) {
                    this.editOrSave = false;
                    if (subTask.id) {
                        ApiService.editSubTask(subTask).then(res => {
                            if (res) {
                                this.getAllTasks();
                            }
                        })
                    }
                } else {
                    let tempSubTask = {}
                    tempSubTask.taskId = parentId;
                    tempSubTask.name = subTask.name;
                    tempSubTask.edit = false;
                    ApiService.createSubTask(tempSubTask).then(res => {
                        if (res) {
                            this.parent[parentIndex].subTaskDtos.push({
                                name: "",
                                edit: true
                            })
                        }
                    })
                }

            },
            addSubTask(parentId, parentIndex) {
                this.editOrSave = true;
                this.parent[parentIndex].subTaskDtos.push({
                    name: "",
                    edit: true
                })
            }


        },

        directives: {
            focus: {
                inserted(el) {
                    el.focus()
                }
            }
        }
    }
</script>

